alembic
annotated-types
attrs
bcrypt
bleach
cffi
click
dnspython
email_validator
Flask
Flask-Login
Flask-WTF
greenlet
idna
iniconfig
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
packaging
pluggy
psycopg2-binary
py
pycparser
pydantic
pydantic_core
pyparsing
pytest
python-dotenv
six
SQLAlchemy
tomli
typing_extensions
webencodings
Werkzeug
WTForms
